<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body class="home">
  <main>
    <div class="grid">
      <% for (var object of htmlWebpackPlugin.options.links) { %>
        <a href="<%= object.href %>" class="item">
          <figure style="background-image:url(images/screenshots/<%= object.text.toLowerCase() %>.png)"></figure>
          <p><%= object.text %></p>
        </a>
      <% } %>
    </div>
  </main>
</body>
</html>
