<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
  <header>
    <nav>
      <a href="https://github.com/nielse63/WebGL-Decorative-Backgrounds" target="_blank">
        <img src="images/github-icon.svg" alt="github" height="30">
      </a>
      <a href="/">
        <img src="images/home.svg" alt="home" height="30">
      </a>
      <% for (var object of htmlWebpackPlugin.options.links) { %>
        <a href="<%= object.href %>"><%= object.text %></a>
      <% } %>
    </nav>
  </header>
</body>
</html>
